*{
margin: 0px;
padding: 0px;
font-family: "Abel", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


html, body {
	display: absolute;
	overflow:auto;
	height:100%; 
    margin: 0px;
    padding: 0px;
	background-color: white;
}

.wrapper{
	min-height:100%;
}

textarea {
    resize: none;
}

em {
	color: red;
	font-style: normal;
	font-size: 80%
}

.light_blue_text{
	color: #4096B3;
}

.colored_background {
	background-color: #f1f1f1;
}

@media screen and (min-width: 768px) {
 /* ALL > TABLET */
.container{
	background-color: white;
	width: 100%;
	display: block;
	z-index: 1;
	padding-bottom: 30px;
	padding-top: 75px;
	margin: auto;
}

.heading{
	font-size: 3em;
	text-align: center;
}

.footer {
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    z-index: 10;
    text-align: center;
    line-height: 30px;
    width: 100%;
    height: 30px;
    margin-top: -30px;
}

    .footer a {
       color: white;
       text-decoration: none;
    }
    
    .footer a:visited{
       color: white;
       text-decoration: none;
    }
    
    .footer a:hover {
      color: gray;
      text-decoration: none;
    }

.nav_bar {
	width: 100%;
	position: fixed;
	z-index: 10;
	background-color: #f1f1f1;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	/*background-color: #B0E0CD;*/
	height: auto;
	display: inline-block;
}

/* Center Tabs */
.center1{	
	float: left;
    position: relative;
    left: 50%;
}

.center2{
	float: left;
    position: relative;
    left: -50%;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.tab li {
	float: left;
}

/* Style the links inside the list items */
ul.tab li a.tablinks {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a.tablinks:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a.tablinks:focus, .active {
	background-color: #ccc;
}

.nav_bar_img {
	overflow: hidden;
	height: 43px;
	display: inline-block;
}

.nav_bar img{
	padding: 1px;
	height: auto;
	height: 100%;
}

.content{
	padding: 50px;
	margin: auto;
	width: 70%;
	margin-bottom: 100px;
	text-align: center;

}

.content p{
	font-size: 1.2em;
}

.header{
	text-align: center;
}

.title{
	padding-bottom: 15px;
	text-shadow: 4px 4px 4px #aaa;
}

.title p{
	font-size: 4.5em;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   height: 0;
   width: 80%;
   max-height: 0;
   font-size: 2px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #4c4c4c;
   margin: auto;
   
}

/* The Modal (background) ---------------------------------------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   z-index: 11;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    max-height: 600px;
    overflow: auto;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
}

.modal-body {
    display:block;
    overflow:hidden;
    font-size: 1.1em;
}

.modal-footer {
	padding: 8px;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
}

.grid_wrapper {
	width: 80%;
  	margin: 10px auto;
  	position: relative;
  	z-index: 0;
  	text-align: center; 
}

.grid_box {
	vertical-align:top;
  	display:inline-block;
  	margin: 15px;
  	margin-bottom: 10px;
}

input[type=text], select {
    width: 100%;
    font-size: .9em;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 1px solid #555;
}

textarea {
	padding: 5px;
	font-size: .9em;
	line-height: .9em;
	border: 1px solid black;
	margin-bottom: 5px;
	border-radius: 4px;
	width: 100%;
}

textarea:focus {
	border: 1px solid #555;
}

.button{
	background: white;
	padding: 5px;
	border: 2px solid black;
	text-decoration: none;
	font-size: 1.4em;
    color: black;
}
	
	.button:link, .button:a:visited{
    	text-decoration: none;
    	color: black;
	}
	
	.button:hover{
		background:#ccc;
		color: black;
		border: 1px solid #black;
		cursor:	pointer;
	}

}



@media screen and (max-width: 767px) {
 /* ALL < TABLET */
.container{
	background-color: white;
	width: 100%;
	position: relative;
	top: 25px;
	display: block;
	margin: 0 auto;
	padding-bottom: 30px;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.35); 
	z-index: 1;
}

.heading{
	font-size: 2.2em;
	text-align: center;
}

.footer {
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    z-index: 10;
    text-align: center;
    line-height: 30px;
    width: 100%;
    height: 30px;
    margin-top: -30px;
}

    .footer a {
       color: white;
       text-decoration: none;
    }
    
    .footer a:visited{
       color: white;
       text-decoration: none;
    }
    
    .footer a:hover {
      color: gray;
      text-decoration: none;
    }

.nav_bar {
	width: 100%;
	position: fixed;
	z-index: 10;
	background-color: #f1f1f1;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	/*background-color: #B0E0CD;*/
	height: auto;
	display: inline-block;
}

/* Center Tabs */
.center1{	
	float: left;
    position: relative;
    left: 50%;
}

.center2{
	float: left;
    position: relative;
    left: -50%;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.tab li {
	float: left;
}

/* Style the links inside the list items */
ul.tab li a.tablinks {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
}

/* Change background color of links on hover */
ul.tab li a.tablinks:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a.tablinks:focus, .active {
	background-color: #ccc;
}

.nav_bar_img {
	overflow: hidden;
	height: 26px;
	display: inline-block;
}

.nav_bar img{
	padding: 1px;
	height: auto;
	height: 100%;
}

.content{
	padding: 10px;
	margin: auto;
	width: 95%;
	margin-bottom: 65px;
	text-align: center;
}

.content p{
	font-size: .9em;
}

.header{
	text-align: center;
}

.title{
	padding-bottom: 15px;
	text-shadow: 4px 4px 4px #aaa;
}

.title p{
	font-size: 2.8em;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   height: 0;
   width: 85%;
   max-height: 0;
   font-size: 2px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #4c4c4c;
   margin: auto;
   
}

/* The Modal (background) ---------------------------------------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   z-index: 11;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    max-height: 400px;
    overflow: auto;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
}

.modal-body {
    display:block;
    overflow:hidden;
    font-size: 1.1em;
}

.modal-footer {
	padding: 8px;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
}

.grid_wrapper {
	width: 80%;
  	margin: 10px auto;
  	position: relative;
  	z-index: 0;
  	text-align: center; 
}

.grid_box {
	vertical-align:top;
  	display:inline-block;
  	margin: 15px;
  	margin-bottom: 10px;
}

input[type=text], select {
    width: 100%;
    font-size: .9em;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 1px solid #555;
}

textarea {
	padding: 5px;
	font-size: .9em;
	line-height: .9em;
	border: 1px solid black;
	margin-bottom: 5px;
	border-radius: 4px;
	width: 100%;
}

textarea:focus {
	border: 1px solid #555;
}

.button{
	background: white;
	padding: 5px;
	border: 2px solid black;
	text-decoration: none;
	font-size: 1.4em;
    color: black;
}
	
	.button:link, .button:a:visited{
    	text-decoration: none;
    	color: black;
	}
	
	.button:hover{
		background:#ccc;
		color: black;
		border: 1px solid #black;
		cursor:	pointer;
	}

}