/*div, span, p{
    border: 1px solid red;
}*/

@media screen and (min-width: 768px) {
 /* ALL > TABLET */


.img-circle {
    border-radius: 50%;
    width: 200px;
}

#about p{
	font-size: 1.6em;
}

.resume_grid_box p {
	text-align: left;
}

.project_specs{
	width: 20%;
	min-width: 200px;
	min-height: 100%;
	display: block;
	float: left;
	text-align: center;
	font-size: 1.1em;
	background-color: #f1f1f1;
	margin-right: 10px;
}

.project_spec{
	margin-bottom: 10px;
}

.project_description{
	font-size: 1.1em;
	padding: 20px;
}

.project_title{
	font-size: 1.4em;
	width: 100%;
}

.project_grid_box {
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin-bottom: 30px;

}

.project_grid_box:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.project_image img {
	width: auto;
	width: 100%;
}

.project_image {
	width: 300px;
  	height: 150px;
	overflow: hidden;
}

.grid_box_label {
	background-color: #ddd;
	padding: 5px;
	color: black;
}

/* Task add/edit styling */
#contact_form {
	display: block;
	margin: 0 auto;
	width: 50%;
	font-size: 1.1em;
	margin-top: 20px;
}

#submit_button {
	text-align: center;
	/*Reset button size*/
	font-size: .8em;
}

.message_feedback {
	text-align: center;
}

.icon{
	padding: 5px;
}

.medium-heading{
	font-size: 1.4em;
}

}

@media screen and (max-width: 767px) {
 /* ALL < TABLET */
.img-circle {
	margin-top: 30px;
    border-radius: 50%;
    width: 125px;
}

#about p{
	font-size: 1.1em;
}

.resume_grid_box p {
	font-size: 1em;
	text-align: left;
}

.project_specs{
	width: 100%;
	display: block;
	text-align: center;
	font-size: 1em;
	background-color: #f1f1f1;
}

.project_spec{
	margin-bottom: 10px;
}

.project_description{
	font-size: .9em;
	text-align: center;
	padding: 15px;
}

.project_title{
	font-size: 1em;
	width: 100%;
}

.project_grid_box {
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin-bottom: 30px;

}

.project_grid_box:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.project_image img {
	width: auto;
	width: 100%;
}

.project_image {
	width: 200px;
  	height: 100px;
	overflow: hidden;
}

.grid_box_label {
	background-color: #ddd;
	padding: 5px;
	color: black;
}

/* Task add/edit styling */
#contact_form {
	display: block;
	margin: 0 auto;
	width: 80%;
	font-size: 1.1em;
	margin-top: 20px;
}

#submit_button {
	text-align: center;
	/*Reset button size*/
	font-size: .8em;
}

.message_feedback {
	text-align: center;
}

.icon{
	padding: 5px;
}

.medium-heading{
	font-size: 1.4em;
}

}

